body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* STYLE PARA EL HEADER*/
header {
  background-color: #ffffff;
  color: rgb(56, 84, 161);
  padding: 10px 20px; /* Aumentar el padding para dar espacio al logo */
  display: flex; /* Usar flexbox para alinear elementos */
  align-items: center; /* Centrar verticalmente los elementos dentro del header */
}
header img {
  width: 50px; /* Establecer un ancho fijo para la imagen (ajusta según tus necesidades) */
  height: auto; /* Mantener la proporción de la imagen */
  margin-right: 10px; /* Espacio entre la imagen y el título */
}
header h1 {
  text-align: center;
}

/* STYLE PARA EL NAV*/
nav {
  display: flex;
  justify-content: space-around; /* Espaciado igusl */
  background-color: #007bff;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
}
/* STYLE PARA EL  CARRUCEL */

.carrusel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 450px;
}
.imagenes {
  display: flex;
  transition: transform 0.5s ease;
}
.imagenes img {
  width: 100%;
  display: none;
}

.imagenes img.active {
  display: block;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* STYLE PARA EL  CUERPO DEL INICIO*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 40px; /* Espacio entre los  div princiaples 55 y 35 */
}
.row {
  display: flex;
  gap: 30px; /* Espacio entre las columnas */
}
.col {
  flex: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra: desplazamiento 0px a la derecha, 4px hacia abajo, 10px de desenfoque, y color negro con 20% de opacidad */
  padding: 20px; /* Añadir algo de espaciado interno */
  border-radius: 8px; /* Bordes redondeados opcionales para suavizar el efecto */
}
.col-55 {
  flex: 55%;
  text-align: justify;
  font-size: 18.2px;
}
.col-55 h1 {
  color: #007bff;
  font-size: 35px;
}
.col-35-img2 {
  flex: 35%;
}
#img2 {
  width: 100%;
  padding: auto;
}
.col-35-img1 {
  flex: 35%;
  margin-bottom: 10px;
  padding: auto;
}
#im1 {
  width: 100%;
  padding: auto;
}
/* STYLE PARA EL FOOTER*/
.footer {
  background-color: #31acd1;
  color: white;
  padding: 20px 0;
}

.footer-section ul li a:hover {
  color: rgb(10, 250, 10); /* Color verde al pasar el mouse */
}
.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 250px;
}
.footer-section h4 {
  margin-bottom: 15px;
}
.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
}
.footer-section ul {
  list-style: none;
}
.footer-section ul li {
  margin-bottom: 10px;
}
.footer-section ul li a {
  color: white;
  text-decoration: none;
}
.footer-section ul li a:hover {
  text-decoration: underline;
}
.social-media {
  display: flex;
  gap: 10px;
}
.social-media li {
  list-style: none;
}
.social-media li a img {
  width: 40px;
  height: 40px;
}
.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #555;
}
.footer-bottom p {
  margin: 0;
}

/* Estilos para QUIENES SOMOSS */
/* Estilos para la primera fila */
.presentacion-fila1 {
  width: 90%; /* Ocupa el 90% del ancho del contenedor */
  margin: auto; /* Centra el elemento horizontalmente */
  background-color: #f0f0f0; /* Color de fondo opcional */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; /* Margen inferior */
  margin-top: 40px;
}
/* Estilos para la segunda fila */
.presentacion-fila2 {
  display: flex;
  width: 90%;
  justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
  gap: 35px; /* Espacio entre los elementos */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; /* Margen inferior */
  margin: auto;
  margin-top: 40px;
  text-align: justify;
  font-size: 16px;
}

.presentacion-fila2 > div {
  flex: 0 1 30%; /* Flex-grow: 0, Flex-shrink: 1, Flex-basis: 30% */
  border: 1px solid black;
  padding: 15px;
}


/* Estilos para la tercera fila */
.presentacion-fila3 {
  width: 90%; /* Ocupa el 90% del ancho del contenedor */
  margin: auto; /* Centra el elemento horizontalmente */
  background-color: #f0f0f0; /* Color de fondo opcional */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Estilos para INICIO DE SESION */
.container {
  display: flex; /* Usar flexbox para alinear los elementos horizontalmente */
  justify-content: space-between; /* Espacio igual entre los elementos */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 5%;
}
.contenedor-img,
.contenedor-registro {
  flex: 1;
}
.contenedor-img {
  padding: 20px;
}
.contenedor-registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
}
/* Estilo para la imagen dentro de la sección de registro */
.contenedor-registro img {
  width: 200px;
  margin: 0 auto 20px auto; /* Centrar y añadir margen inferior */
}
h2 {
  margin-bottom: 30px;
  font-size: 35px;
  color: #007bff;
}
/* Estilo general para el formulario */
#loginForm {
  width: 90%;
  font-family: Arial, sans-serif;
}

/* Estilo para los divs que contienen los campos de entrada */
#loginForm .correo,
#loginForm .contrasena {
  margin-bottom: 15px;
}
/* Estilo para las etiquetas de los campos de entrada */
#loginForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
/* Estilo para los campos de entrada */
#loginForm input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 16px;
}
/* Estilo para el enlace de "olvidó la contraseña" */
#loginForm a {
  display: block;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  text-align: justify;
  margin-bottom: 10px;
}

/* Estilo para los botones */
#loginForm button {
  width: 105%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Estilo para el botón al pasar el mouse por encima */
#loginForm button:hover {
  background-color: #a3aa3b;
}




















.container-edu {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
.video-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.video-box video {
  width: 100%;
  max-width: 800px;
  height: auto;
  border: 1px solid #ccc;
}

.text-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.text-box p {
  margin: 0 0 10px;
  line-height: 1.6;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.image-box {
  width: 100%;
  padding-top: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: black;
  text-align: center;
  border: 1px solid #ccc;
}















.container-registro {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.header {
  text-align: center;
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.report-button {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.report-button:hover {
  background-color: #333;
}

.text-box {
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.text-box h2 {
  margin: 0 0 10px;
}

.text-box p {
  margin: 0 0 10px;
  line-height: 1.6;
}

.option-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.option-box {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  border: 1px solid #ccc;
  height: 150px;
}