.container-edu {
    width: 90%;
    margin: 0 auto;
}
.video-box {
    display: flex;
    justify-content: center;
}
.video-box iframe {
    width: 100%;
    max-width: 1000px;
    height: 500px;
}
.text-box {
    padding: 25px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 0.5px;
}
.text-box h1 {
    text-align: center;
    font-size: 40px;
    color: #007bff;
    margin-bottom: 15px;
    border-bottom: 2px solid #003c8f;
    padding-bottom: 5px;
}
.container-textos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    justify-content: space-between;
}
.Texto_2 {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #ffffff;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
    line-height: 1.6;
    letter-spacing: 0.5px;
    align-items: center;

}
.Texto_2 h1 {
    font-size: 30px;
    color: #003c8f;
    margin-bottom: 15px;
    border-bottom: 2px solid #003c8f;
    padding-bottom: 5px;
    text-align: center;
    letter-spacing: 1px;

}
/* CARRUCEL DE IMAGENES*/
.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: visible; 
    position: relative;
    padding: 10px;
    
}
.image-gallery img {
    width: 17%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    position: relative;
    transform-origin: center center; 
}

.image-gallery img:hover {
    transform: scale(1.5);
    z-index: 10;
    border: 1px solid black;
}
